
@mixin vertical-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
//call @include vertical-center();


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
//call @include clearfix;


@mixin font-size($size, $base: 16) {
  font-size: $size; // fallback for old browsers
  font-size: ($size / $base) * 1rem;
}
//call @include font-size(16);


@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.eot');
    src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
    url($file-name + '.woff') format('woff'),
    url($file-name + '.ttf')  format('truetype'),
    url($file-name + '.svg##{$font-name}')  format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}
//call @include font-face("MyFont", "path/to/MyFont", $style: normal, $weight: normal);

@mixin center-x {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
//call @include center-x;


@mixin center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//call @include center-xy;

