block vars
    - var bodyClass = ''

doctype html
html(lang='es')
    head
        include include/head
        block head
    body(class=bodyClass)
        include include/header
        block content
        include include/footer
        script(type='text/javascript', src='js/main.min.js')
        script.
            window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
            ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
        script(src='https://www.google-analytics.com/analytics.js', async='', defer='')
        block scripts

