meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
link(rel='apple-touch-icon', href='images/icon/icon.png')
link(href='https://fonts.googleapis.com/css?family=Lato:400,500,700', rel='stylesheet', type='text/css')
meta(property='og:locale', content='es_PE')
meta(property='og:type', content='website')
meta(property='og:site_name', content='Home Page')
link(rel='stylesheet', href='css/main.min.css')
meta(name='Description', content='Personal Site of Enrique Lazo Bello')


link(rel='apple-touch-icon', sizes='57x57', href='images/icon/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='images/icon/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='images/icon/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='images/icon/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='images/icon/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='images/icon/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='images/icon/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='images/icon/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='images/icon/apple-icon-180x180.png')
link(rel='icon', type='image/png', sizes='192x192', href='images/icon/android-icon-192x192.png')
link(rel='icon', href='images/icon/favicon.ico')
link(rel='icon', type='image/png', sizes='32x32', href='images/icon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='images/icon/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='16x16', href='images/icon/favicon-16x16.png')
link(rel='manifest', href='manifest.json')
meta(name='msapplication-TileColor', content='#333333')
meta(name='msapplication-TileImage', content='images/icon/ms-icon-144x144.png')
meta(name='theme-color', content='#333333')



//-
    link(rel='canonical', href='https://')

    meta(property='og:locale', content='es_PE')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Home Page')
    meta(property='og:image', content='https://')
    meta(property='og:image:secure_url', content='https://')
    meta(property='og:title', content='HomePage')
    meta(property='og:description', content='HomePage')
    meta(property='og:url', content='https://')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:image', content='https://')
    meta(name='twitter:image:alt', content='HomePage')
    meta(name='twitter:description', content='HomePage')
    meta(name='twitter:title', content='HomePage')

    
